n8n-workflows/issue-with-email.json
{
  "name": "Issue Submission with Email",
  "nodes": [
    {
      "parameters": {
        "path": "issue-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "issue-submission-email"
    },
    {
      "parameters": {
        "fromEmail": "noreply@abyz-lab.work",
        "toEmail": "drake.lee@abyzr.com",
        "subject": "=New Issue: {{ $json.title }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #007bff; color: white; padding: 20px; border-radius: 5px 5px 0 0; }\n    .content { background: #f9f9f9; padding: 20px; border-radius: 0 0 5px 5px; }\n    .field { margin-bottom: 15px; }\n    .label { font-weight: bold; color: #555; }\n    .value { margin-top: 5px; }\n    .footer { margin-top: 20px; padding: 10px; text-align: center; color: #777; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>🎫 New Issue Submitted</h2>\n    </div>\n    <div class=\"content\">\n      <div class=\"field\">\n        <div class=\"label\">Title:</div>\n        <div class=\"value\">{{ $json.title }}</div>\n      </div>\n      {% if $json.description %}\n      <div class=\"field\">\n        <div class=\"label\">Description:</div>\n        <div class=\"value\">{{ $json.description }}</div>\n      </div>\n      {% endif %}\n      {% if $json.priority %}\n      <div class=\"field\">\n        <div class=\"label\">Priority:</div>\n        <div class=\"value\">{{ $json.priority }}</div>\n      </div>\n      {% endif %}\n      {% if $json.assignee %}\n      <div class=\"field\">\n        <div class=\"label\">Assignee:</div>\n        <div class=\"value\">{{ $json.assignee }}</div>\n      </div>\n      {% endif %}\n      <div class=\"field\">\n        <div class=\"label\">Submitted:</div>\n        <div class=\"value\">{{ $now.format('YYYY-MM-DD HH:mm:ss') }}</div>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <p>Sent from n8n workflow • Forms System</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-node",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [460, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Issue submitted and email sent\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[
        {
          "node": "Send Email",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "Send Email": {
      "main": [[
        {
          "node": "Respond to Webhook",
          "type": "main",
          "index": 0
        }
      ]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-26T00:00:00.000Z",
  "versionId": "2"
}
